h3{
  color:blue;
  font-size: 30px;
}
tr,th,tb{
  border:2px solid green;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0px;
  overflow: hidden;
  background-color: #333333;
 
}
li{
  float: left;
  padding:30px;
}
